.footer {
  flex: 0 0 auto;
}

.footer-wraper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  flex-wrap: wrap;
  gap: 0 50px;

  @media screen and (max-width: 600.98px) {
    gap: 5px;
  }

  @media screen and (max-width: 471.98px) {
    gap: 20px;
  }
}

.license-wraper {
  height: max-content;

  .license__link {
    color: #3dbdf6;
  }
}

.footer__apps-wrp {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  .footer__apps {
    display: flex;
    gap: 10px;
  }

}

.footer-calls {
  .footer-call-link {
    color: #3dbdf6;
  }
}