.container {
  border: 1px solid #3dbdf6;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  width: fit-content;
  position: relative;
}

.itemWrp {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding: 2px 13px;
  color: #3dbdf6;
  cursor: pointer;
  z-index: 5;
  transition: color .25s;
}

.current {
  color: #ffffff;
}

.bubble {
  position: absolute;
  top: -1px;
  height: calc(100% + 2px);
  left: 0;
  z-index: 1;
  background: #3dbdf6;
  border: 2px solid #3dbdf6;
  border-radius: 10px;
  transition: left .25s, width .25s, 
}
